
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 10px;
    box-sizing: border-box;
}
:root{
    --bg-pink-danger : #EB5757E5;
    --gray-secondary : #4F4F4F;
    --gray-darker-text : #333333;
    --gray-lighter-text : #BDBDBD;
}
input {
    font-family: 'Mulish';
    font-weight: 400;
}
.img-object-fit{
    height: 264px;
    aspect-ratio: 1.4/1;
}
.search-bar{
    max-width: 360px;
    min-width: 280px;
}
.search-text-button{
    font-family: 'Mulish';
    font-size: 14px;
}
.search-icon{
    font-size: 18px;
    box-sizing: border-box;
    top: 3px;
    position: relative;
    margin-right: 6px;
}
.input{
    font-family: 'Mulish';
}
.bg-pink-danger{
    background-color: var(--bg-pink-danger);
}
.location-pin{
    margin-right: 5px;
    position:relative;
    top: 6px;
}
.location-text{
    font-size: 14px;
    font-family: 'Mulish';
}
.text-gray-secondary{
    color: var(--gray-secondary);
}
.bg-gray-secondary{
     background-color: var(--gray-secondary);
}
.control-guest{
    width: 80px;
}
.gray-darker-text{
    color: var(--gray-darker-text);
}
.location-pin {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 40
}
.gray-lighter-text{
    color: var(--gray-lighter-text);
}
#search-button:hover .search-button{
    color: var(--bg-pink-danger)!important;
}